/* Container */
body {
  margin: 0;
  padding: 0;
  font-family: 'Maven Pro', sans-serif;
}

div {
  text-align: center;
}

/* Header */
h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Select Diet */
select {
  padding: 10px;
  font-size: 16px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

/* Meals Section */
label {
  font-size: 18px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

/* Remove Button */
button {
  background-color: #ff4136;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

/* Add Meal Input and Button */
input[type="text"] {
  padding: 10px;
  font-size: 16px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

button[type="button"] {
  background-color: #0074cc;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

/* Styling for the "Select a diet" option */
option[value=""] {
  color: #999; /* You can customize the color */
}
